*{
    box-sizing: border-box;
}
@-ms-viewport{
  width: device-width;
}

body {
  text-align:center;
  background-color: #134;
}
.content {
  position: relative;
  min-height: 100vh;
  min-width:100vw;
  color: #ffffff;
}

