html{
    width: 800px;
    font-family:Times;
    font-size:28px;
}
.info{/* TEXT */
    position: absolute; /* pairs with RECTANGLES so they don't go outside RECTANGLES. */ 
    bottom:0;
    right:0;
}
#top{/* RECTANGLE */
    position: relative; /* could be absolute if you wanted to pinpoint something */
    display:block;
    height:200px;
    background-color: blue;
    color:white;
}
.side{/* RECTANGLE */
    position: relative;
    display: inline-block;
    width:25%;
    height:400px;
    background-color: red;
}
.main{/* RECTANGLE */
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:75%;
    height:400px; 
    background-color: yellow;
}