<head>
    <meta charset="utf-8">
    <title>Barebones Page</title>
    <meta name="description" content="starter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
	<script src="https://code.angularjs.org/tools/system.js"></script>
	<script src="https://code.angularjs.org/tools/typescript.js"></script>
	<script src="https://code.angularjs.org/2.0.0-alpha.39/angular2.dev.js"></script>
    <script type="text/typescript" src="app.js"></script>
</head>
<body data-ng-app="ThisApp">
	<table ng-controller="CatalogCtrl as catalog">
		<tr ng-repeat="item in catalog.catalogItems">
			<td>{{item.title}}</td>
			<td>{{item.cost}}</td>
			<td>
				<button ng-click="catalog.addToCart(item)">Add to Cart</button>
			</td>
		</tr>
	</table>
	<h1>Cart</h1>
	<table ng-controller="CartCtrl as cart">
		<tr ng-repeat="item in cart.items track by $id(item)">
			<td>{{item.catalogItem.title}}</td>
			<td>{{item.qty}}</td>
			<td>
				<button ng-click="cart.removeItem(item)">x</button>
			</td>
		</tr>
	</table>
</body>
