* {
	box-sizing: border-box;
}

body {
	background-color:rgb(40,35,52);
	margin:0;
	overflow: hidden;
}
#grid{
	position:relative;		/* req'd for horiz center */
	right:50%;				/* req'd for horiz center */
	text-align:center;		/* req'd for horiz center */
}
#whole{
	display:inline-block;	/* req'd for horiz center */
	margin-right:-100%;		/* req'd for horiz center */
	margin-top:-0.5%;
}
.cell-row{
	white-space: nowrap;
}
.grid-element {
	display: inline-block;
	border:1px solid white;
}
.glow-element {
	margin:-1px -1px;
	position: absolute;
  	opacity: 0;
}